.registerPage {
    margin: 0px 20.833%;
    height: 100vh;
    position: relative;
}

.card {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .2);
    position:absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 600px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.containerLeft {
    width: 50%;
    position: relative;
    overflow: hidden;
}

.path {
    position: absolute;
    left: 0;
    width: 105%;
    height: 105%;
    z-index: 2;
}

.background {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

.greeting {
    font-weight: 800;
    font-size: 48px;
    line-height: 48px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    color: white
}

.subTextContainer {
    font-weight: 200;
    font-size: 36px;
    line-height: 36px;
    position: absolute;
    color: white;
    bottom: 20px;
    left: 20px;
}

.subBold {
    font-weight: 400;
}

.containerRight {
    width: 50%;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.registerContainer {
    display: flex;
    flex-direction: column;
    height: 315px;
    width: 365px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.registerText {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 40px;
}

.textFieldContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
}

.tempHeader {
    position: fixed;
    height: 50px;
    top: 16px;
}
